<%- contentFor ('hero') %>

<section class="hero">
    <div class="hero-content">
        <h1>Bienvenido a mi sitio web</h1>
    </div>
</section>

<%- contentFor ('body') %>
<div class="jumbotron text-center">
    Node JS Rifa
</div>

<%- extra %>
<br>
<%- edad %>
