<%- contentFor ('hero') %>

<section class="hero">
    <div class="hero-content">

<h1> GRACIAS POR USAR ESTE SERVICIO </h1>
<p>SU RFC ES : <%- rfc%> <BR> POR DESGRACIA EL SERVICIO DE HOMOCLAVE ESTA EN DESARROLLO AUN Y NO ESTA DISPONIBLE DE MOMENTO <BR> LAMENTAMOS LOS INCONVENIENTES QUE ESTO LE PUEDA CAUSAR<BR> PARA ALGUNA DUDA, ACLARACION O SUGERENCIA POR FAVOR MANDE UN CORREO A CARLOS.PEREZ16@tectijuana.edu.mx Y SE LE RESPONDERA EN LA BREVEDAD POSIBLE</p>
<H1>QUE TENGA UN BUEN DIA!!!</H1>

<form action="/">
            <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
</form>

</div>
</section>